ExamenServiceWCF-client1/Connected Services/GestionProjetReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="GestionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGestionService_GererProjet_InputMessage">
    <wsdl:part name="parameters" element="tns:GererProjet" />
  </wsdl:message>
  <wsdl:message name="IGestionService_GererProjet_OutputMessage">
    <wsdl:part name="parameters" element="tns:GererProjetResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionService_RecupererProjet_InputMessage">
    <wsdl:part name="parameters" element="tns:RecupererProjet" />
  </wsdl:message>
  <wsdl:message name="IGestionService_RecupererProjet_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecupererProjetResponse" />
  </wsdl:message>
  <wsdl:portType name="IGestionService">
    <wsdl:operation name="GererProjet">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionService/GererProjet" message="tns:IGestionService_GererProjet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionService/GererProjetResponse" message="tns:IGestionService_GererProjet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecupererProjet">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionService/RecupererProjet" message="tns:IGestionService_RecupererProjet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionService/RecupererProjetResponse" message="tns:IGestionService_RecupererProjet_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGestionService" type="tns:IGestionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GererProjet">
      <soap:operation soapAction="http://tempuri.org/IGestionService/GererProjet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecupererProjet">
      <soap:operation soapAction="http://tempuri.org/IGestionService/RecupererProjet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GestionService">
    <wsdl:port name="BasicHttpBinding_IGestionService" binding="tns:BasicHttpBinding_IGestionService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ExamenServiceWCF/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>